# Compiled output
target/
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

# Logs
*.log
logs/

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store

# Maven
.mvn/
mvnw
mvnw.cmd
